/*----------------------
header
----------------------*/
.p-header{
    background: #2F2F2F;
    color: #fff;
    position: fixed;
    width: 100vw;
    z-index: 100;
}
.p-header__inner{
    padding: 15px 71px 12px 31px;
    @include mq('sp') {
      padding: 15px 16px;
    }
}
.p-header__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p-header__logo{
    width: 118px;
    height: 63px;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    @include mq('sp') {
      width: 55px;
      height: 30px;
    }
}
.p-header__texts{
}
.p-header__text{
    color: #fff;
    padding-right: 40px;
    font-family: $font-menu;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.54px;
    @include mq('sp') {
      font-size: 14px;
      padding-right: 20px;
    }
    &:last-child {
        padding-right: 0;
    }
    &:hover {
        opacity: 1;
        text-decoration: underline;
        text-decoration-color: $accent-color;
    }
}

/*----------------------
top
----------------------*/
.p-top{
    padding-top: 90px;
    background: #2F2F2F;
    overflow: hidden;
}
.p-top__inner{
}
.p-top__items{
}
.p-top__item{
    position: relative;
}
.p-top__texts{
    position: absolute;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    left: 12.3vw;
    @include mq('sp') {
      left: 5vw;
    }
}
.p-top__title{
    font-size: 100px;
    line-height: 100px;
    font-family: $font-menu;
    @include mq('tab') {
      font-size: 60px;
      line-height: 60px;
    }
    @include mq('sp') {
      font-size: 36px;
      line-height: normal;
    }
}
.pb37 {
    padding-bottom: 37px;
    @include mq('tab') {
      padding-bottom: 20px;
    }
    @include mq('sp') {
      padding-bottom: 15px;
    }
}
.p-top__text{
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1.6px;
    @include mq('tab') {
      font-size: 20px;
      line-height: 20px;
    }
    @include mq('sp') {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.7px;
    }
}
.p-top__text.green{
    background: $accent-color;
    padding: 9px 9px 9px 0;
    @include mq('sp') {
      padding: 4px 8px 7px 3px;
    }
}
.pb21 {
    padding-bottom: 21px;
    @include mq('tab') {
      padding-bottom: 10px;
    }
    @include mq('sp') {
      padding-bottom: 13px;
    }
}
.p-top__img{
    width: 75vw;
    margin-left: auto;
    @include mq('sp') {
      width: 83%;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        @include mq('sp') {
          height: 243px;
          object-fit: cover;
        }
    }
}
.p-top__bottom{
    color: #fff;
    text-align: center;
    padding: 120px 0;
    position: relative;
    @include mq('tab') {
      padding: 40px 0;
    }
    @include mq('sp') {
      padding: 48px 0;
    }
}
.mq {
    display: none;
    @include mq('sp') {
      display: block;
    }
}
.pc {
    @include mq('sp') {
      display: none;
    }
}
.p-top__bottom-title{
    font-size: 30px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1.5px;
    padding-bottom: 48px;
    @include mq('tab') {
      font-size: 20px;
    }
    @include mq('sp') {
      font-size: 20px;
      letter-spacing: 0.48px;
    }
}
.p-top__bottom-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.54px;
    @include mq('tab') {
      font-size: 14px;
    }
    @include mq('sp') {
      font-size: 16px;
      padding: 0 32px;
    }
}
.p-top__back-text{
    position: absolute;
    color: rgba(103, 103, 103, 0.30);
    font-family: $font-menu;
    font-size: 280px;
    font-weight: 400;
    line-height: 100%;
    white-space: nowrap;
    bottom: -2vh;
    left: -2vw;;
    z-index: 1;
    @include mq('tab') {
      font-size: 150px;
    }
    @include mq('sp') {
      font-size: 110px;
      line-height: 80%;
      left: 0;
      letter-spacing: 3.3px;
      text-align: right;
    }
}
/*----------------------
about
----------------------*/
.p-about{

}
.p-about__inner{
    padding: 130px 180px 100px;
    @include mq('tab') {
      padding: 50px;
    }
    @include mq('sp') {
      padding: 64px 16px;
    }
}
.p-about__wrap{
    padding-top: 80px;
    @include mq('tab') {
      padding-top: 40px;
    }
    @include mq('sp') {
      padding-top: 56px;
    }
}
.p-about__item{
    align-items: center;
    justify-content: start;
    padding-bottom: 3vh;
}
.reverse {
    flex-direction: row-reverse;
    justify-content: start;
}
.p-about__texts{
    position: relative;
    z-index: 10;
    width: calc(100% - 450px);
    @include mq('tab') {
      width: 60%;
    }
    @include mq('sp') {
      width: 100%;
      padding: 0 0 0 9px;
    }
}
.after01 {
    margin-left: 5vw;
    @include mq('sp') {
      margin-left: 0;
    }
    &:after {
        position: absolute;
        content: "01";
        color: #fff;
        font-size: 288px;
        font-weight: 400;
        font-family: $font-menu;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        z-index: -1;
        opacity: 0.8;
        @include mq('tab') {
          font-size: 200px;
        }
        @include mq('sp') {
          font-size: 180px;
        }
    }
}
.after02 {
    margin-right: 5vw;
    @include mq('sp') {
      margin-left: 0;
    }
    &:after {
        position: absolute;
        content: "02";
        color: #fff;
        font-size: 288px;
        font-weight: 400;
        font-family: $font-menu;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        z-index: -1;
        opacity: 0.8;
        @include mq('tab') {
          font-size: 200px;
        }
        @include mq('sp') {
          font-size: 180px;
        }
    }
}
.after03 {
    margin-left: 5vw;
    @include mq('sp') {
      margin-left: 0;
    }
    &:after {
        position: absolute;
        content: "03";
        color: #fff;
        font-size: 288px;
        font-weight: 400;
        font-family: $font-menu;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        z-index: -1;
        opacity: 0.8;
        @include mq('tab') {
          font-size: 200px;
        }
        @include mq('sp') {
          font-size: 180px;
        }
    }
}

    .p-about__title{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding-bottom: 1vh;
    @include mq('tab') {
      font-size: 20px;
    }
    @include mq('sp') {
      font-size: 24px;
      letter-spacing: 1.2px;
      white-space: nowrap;
    }
}
.p-about__text{
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.54px;
    width: 28vw;
    @include mq('tab') {
      font-size: 14px;
      width: 100%;
    }
    @include mq('sp') {
      width: 100%;
      font-size: 16px;
      padding-bottom: 32px;
      letter-spacing: 0.48px;
    }
}
.p-about__img{
    width: 450px;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    @include mq('tab') {
      width: 400px;
    }
    @include mq('sp') {
      width: 343px;
      margin: 0 auto;
    }
}
.p-about__bottom-img{
  margin: 0 auto;
    @include mq('sp') {
      width: 100%;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
}
/*----------------------
menu
----------------------*/
.p-menu{
    padding: 72px;
    background: #2F2F2F;
    color: #fff;
    @include mq('tab') {
      padding: 50px;
    }
    @include mq('sp') {
      padding: 24px 16px;
    }
}
.p-menu__inner{
    border: 2px solid #fff;
}
.font-white {
    color: #fff;
}
.pt80 {
    padding-top: 80px;
    @include mq('tab') {
      padding-top: 50px;
    }
}
.p-menu__lead{
    color: #fff;
    text-align: center;
    margin-top: 32px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.54px;
    @include mq('tab') {
      font-size: 14px;
    }
    @include mq('sp') {
      font-size: 16px;
    }
}
.p-menu__items{
    padding-top: 54px;
    @include mq('tab') {
      padding-top: 30px;
    }
    @include mq('sp') {
      padding-top: 48px;
    }
}
.p-menu__item1{
    justify-content: center;
    align-items: center;
}
.p-menu__item1-img{
    width: 450px;
    object-fit: contain;
    z-index: 1;
    @include mq('tab') {
      width: 300px;
    }
    @include mq('sp') {
      width: 315px;
    }
}
.mr-6 {
    margin-right: -6vw;
    @include mq('sp') {
      margin: 0 auto;
      margin-bottom: -47px;
      z-index: 2;
      position: relative;
    }
}
.p-menu__item1-texts{
    padding: 13px;
    background: #fff;
    color: #333;
    text-align: center;
    position: relative;
}
.p-menu__item1-green {
    background: $accent-color;
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 9px 51px 14px 52px;
    color: #fff;
    @include mq('tab') {
      padding: 10px 20px;
    }
    @include mq('sp') {
      padding: 50px 65px 16px;
    }
}
.p-menu__item1-green__title {
    font-size: 14px;
    font-weight: 400;
    font-family: $font-en;
    letter-spacing: 0.42px;
    @include mq('sp') {
      font-size: 12px;
      letter-spacing: 0.36px;
    }
}
.p-menu__item1-green__text {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.72px;
    @include mq('tab') {
      font-size: 20px;
    }
    @include mq('sp') {
      font-size: 18px;
      white-space: nowrap;
    }
}
.p-menu__item1-wrap {
    border: 1px solid #333;
    padding: 100px 63px 32px 62px;
    @include mq('tab') {
      padding: 80px 30px 30px 30px;
    }
    @include mq('sp') {
      padding: 111px 23px 32px;
    }
}
.p-menu__item-title{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 3px;
    padding-bottom: 20px;
    @include mq('tab') {
      font-size: 24px;
      padding-bottom: 10px;
    }
    @include mq('sp') {
      font-size: 24px;
      letter-spacing: 2.4px;
      line-height: 150%;
    }
}
.p-menu__item-price{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.8px;
    @include mq('sp') {
      font-size: 12px;
      letter-spacing: 1.2px;
    }
}
.en{
    font-size: 24px;
    font-weight: 400;
    font-family: $font-menu;
    letter-spacing: 2.4px;
    @include mq('sp') {
      font-size: 18px;
      letter-spacing: 1.8px;
      padding-right: 3px;
    }
}
.price{
    font-size: 40px;
    font-weight: 400;
    font-family: $font-menu;
    letter-spacing: 4px;
    @include mq('tab') {
      font-size: 36px;
    }
    @include mq('sp') {
      font-size: 30px;
      letter-spacing: 3px;
    }
}
.p-menu__item-cal{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.72px;
    @include mq('tab') {
      font-size: 14px;
    }
    @include mq('sp') {
      font-size: 14px;
      letter-spacing: 0.42px;
    }
}
.p-menu__items-bottom{
    justify-content: center;
    padding: 85px 107px 80px 108px;
    @include mq('tab') {
      padding: 30px;
    }
    @include mq('sp') {
      padding: 0 21px 48px 15px;
    }
}
.p-menu__item2{
    width: 50%;
    text-align: center;
    padding-right: 16px;
    padding-left: 16px;
    @include mq('tab') {
      padding-right: 8px;
      padding-left: 8px;
    }
    @include mq('sp') {
      width: 100%;
      padding-right: 0;
      padding-left: 0;
      padding-top: 48px;
    }
}
.p-menu__item2-img{
    margin: 0 auto;
    width: 417px;
    height: 434px;
    margin-bottom: -80px;
    img {
        object-fit: contain;
    }
    @include mq('tab') {
      width: 250px;
      height: 250px;
      margin-bottom: -60px;
    }
    @include mq('sp') {
      width: 305px;
      height: 317px;
    }
}
.p-menu__item2-texts{
    background: #fff;
    padding: 13px;
    color: #333;
    @include mq('sp') {
      padding: 10px;
    }
}
.p-menu__item2-wrap {
    border: 1px solid #333;
    padding: 60px 29px 29px 29px;
    @include mq('tab') {
      padding: 60px 20px 20px 20px;
    }
    @include mq('sp') {
      padding: 48px 11px 32px 12px;
    }
}
.p-menu__bottom{
    background: #fff;
    padding: 13px;
    color: #333;
    text-align: center;
    margin: 0 121px 112px 122px;
    @include mq('tab') {
      margin: 0 40px 40px 40px;
    }
    @include mq('sp') {
      margin: 0 18px 32px 25px;
    }
}
.p-menu__bottom-wrap{
    border: 1px solid #333;
    position: relative;
    padding: 88px 48px 24px 33px;
    @include mq('sp') {
      padding: 64px 10px 24px 10px;
    }
}
.p-menu__bottom-green {
    font-family: $font-menu;
    font-size: 30px;
    letter-spacing: 1.5px;
    @include mq('sp') {
        font-size: 24px;
        letter-spacing: 1.2px;
        padding: 10px 34px 11px;
        line-height: 24px;
    }
}
.p-menu__bottom-text{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.9px;
    padding-bottom: 34px;
    line-height: 18px;
    @include mq('tab') {
      font-size: 12px;
    }
    @include mq('sp') {
      font-size: 16px;
      padding-right: 5px;
      padding-left: 5px;
    }
    span {
        position: relative;
        padding-left: 51px;
        padding-right: 55px;
        @include mq('tab') {
          padding-right: 30px;
          padding-left: 30px;
        }
        @include mq('sp') {
          padding-left: 0px;
          padding-right: 0px;
          letter-spacing: 0.8px;
          text-align: justify;
        }
        }
        &:before {
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            background: transparent;
            border-left: 2px solid black;
            transform: rotate(-45deg);
            left: 0;
            bottom: 25%;
            @include mq('tab') {
              display: none;
            }
            @include mq('sp') {
              display: none;
            }
        }
        &:after {
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            background: transparent;
            border-left: 2px solid black;
            transform: rotate(45deg);
            right: -2%;
            top: 25%;
            @include mq('tab') {
              display: none;
            }
            @include mq('sp') {
              display: none;
            }
        }
    }

.p-menu__bottom-imgs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    @include mq('tab') {
      gap: 10px;
    }
    @include mq('sp') {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
}
.p-menu__bottom-btn{
    padding: 17px 16px 16px 58px;
    border: 1px solid #333;
    display: flex;
    width: 300px;
    margin: 0 auto;
    position: relative;
    font-weight: 700;
    @include mq('sp') {
      padding: 16px 48px 17px 37px;
        width: 250px
    }
    &:after {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    background: url(../img/radix-icons_external-link.png)no-repeat center center / contain;
    right: 2.5vw;
    bottom: 50%;
    transform: translateY(50%);
    @include mq('sp') {
      right: 4vw;
    }
    }
    &:hover {
        background: #333;
        color: #fff;
        opacity: 1;
        &:after {
            background: url(../img/radix-icons_external-link-hover.png)no-repeat center center / contain;
        }
    }
    img {
        width: 22px;
        height: 22px;
    }
}
.p-menu-img {
}
/*----------------------
shop
----------------------*/
.p-shop{
    padding-top: 120px;
    @include mq('tab') {
      padding-top: 60px;
    }
    @include mq('sp') {
      padding-top: 64px;
    }
}
.p-shop__inner{
}
.p-shop__map{
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    margin: 0 auto;
    @include mq('tab') {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    @include mq('sp') {
      margin-top: 56px;
      margin-bottom: 56px;
      width: 375px;
      height: 250px;
      padding-top: 0;
      padding-bottom: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &:after {
        content: "";
        background: url(../img/店舗目印.png)no-repeat center center / contain;
        width: 150px;
        height: 150px;
        position: absolute;
        top: 37%;
        right: 27.5%;
        @include mq('tab') {
          width: 100px;
          height: 100px;
          top: 41%;
          right: 26%;
        }
        @include mq('sp') {
          width: 73px;
          height: 73px;
          top: 46%;
          right: 17%;
        }
    }
}
.p-shop__items{
    align-items: center;
}
.p-shop__item{
    padding-left: 184px;
    padding-right: 131px;
    font-size: 18px;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 0.54px;
    @include mq('tab') {
      padding-left: 40px;
      padding-right: 40px;
    }
    @include mq('sp') {
      padding-left: 28px;
      padding-right: 28px;
    }
}
.mqspmqtab {
    display: none;
    @include mq('tab') {
      display: block;
    }
    @include mq('sp') {
      display: block;
    }
}
.p-shop-title{
    @include mq('sp') {
      text-align: center;
    }
    span {
        font-family: $font-menu;
        font-size: 32px;
        line-height: 28px;
        letter-spacing: 0.96px;
        @include mq('tab') {
          font-size: 24px;
          line-height: 24px;
        }
    }
}
.hidden {
    visibility: hidden;
}
.shop-lg{
}
.p-shop-text{
    @include mq('tab') {
      font-size: 12px;
      line-height: 20px;
    }
    @include mq('sp') {
      line-height: 170%;
      letter-spacing: 0.48px;
    }
}
.mqsp {
    display: none;
    @include mq('sp') {
      display: inline;
    }
}
.p-shop__item-img{
    width: 700px;
    object-fit: contain;
    @include mq('tab') {
      width: 400px;
    }
    @include mq('sp') {
      max-width: 375px;
      height: 298px;;
      margin: 40px auto 98px;
      padding: 0 16px;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
}
.p-shop__bottom{
    padding: 30px 33px 42px 34px;
    margin: 80px 147px 120px 151px;
    background: #fff;
    box-shadow: 0px 4px 20px 0px rgba(161, 159, 159, 0.60);
    position: relative;
    @include mq('tab') {
      margin: 40px;
      padding: 20px;
    }
    @include mq('sp') {
      padding: 18px 10px 0;
      margin: 0 16px 64px;
    }
    &:before {
        content: "";
        position: absolute;
        left: -10%;
        top: -10%;
        background: url(../img/img：stamp.png)no-repeat center center /contain;
        width: 288px;
        height: 240px;
        z-index: 10;
        @include mq('tab') {
          width: 200px;
          height: 200px;
        }
        @include mq('sp') {
          width: 112px;
          height: 93px;
          left: -4%;
          top: -3%;
        }
    }
}
.p-shop__bottom-wrap{
}
.p-shop__bottom-imgs{
    margin-bottom: 27px;
    @include mq('tab') {
      margin-bottom: 15px;
    }
    @include mq('sp') {
      margin-bottom: 20px;
    }
}
.p-shop__bottom-img{
    position: relative;
    @include mq('sp') {
      margin: 0 auto;
    }
    &:before {
        position: absolute;
        content: "";
        border: 1px solid #fff;
        top: 5%;
        bottom: 5%;
        right: 5%;
        left: 5%;
        pointer-events: none;
    }
    @include mq('sp') {
      width: 323px;
    }
}
.p-shop-img1 {
  @include mq('sp') {
    width: 323px;
    height: 282px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.p-shop-img2 {
  @include mq('sp') {
    width: 323px;
    height: 209px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center center;
    }
  }
}
.p-shop__bottom-texts{
    align-items: flex-start;
    position: relative;
    &:after {
        content: "Have a nice day !!";
        font-size: 40px;
        font-weight: 400;
        font-family: $font-en;
        letter-spacing: 2px;
        position: absolute;
        color: $accent-color;
        right: 5%;
        transform: rotate(-6.175deg);
        bottom: 0;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        border-bottom: 1px solid;
        line-height: 30px;
        @include mq('sp') {
          font-size: 36px;
          bottom: 17%;
        }
    }
    @include mq('sp') {
      padding: 0 10px 113px 24px;
    }
}
.p-shop__bottom-title{
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 2.4px;
    font-family: $font-en;
    padding-right: 53px;
    @include mq('tab') {
      font-size: 36px;
      padding-right: 20px;
    }
    @include mq('sp') {
      font-size: 30px;
      padding-right: 0;
    }
}
.p-shop__bottom-text {
    width: 55%;
    padding: 27px 0;
    line-height: 250%;
    color: #4F4F4F;
    @include mq('tab') {
      font-size: 12px;
      width: 65%;
      padding: 15px 0 30px;
    }
    @include mq('sp') {
      width: 100%;
      padding: 0;
      line-height: 250%;
    }
}

.text-line {
    border-bottom: 1px solid rgba(161, 159, 159, 0.60);
    padding-bottom: 5px;
}

.text-line__mq {
  span {
    border-bottom: 1px solid rgba(161, 159, 159, 0.60);
    line-height: 200%;
    padding-bottom: 10px;
  }
}

/*----------------------
contact
----------------------*/
.p-contact{
    background: url(../img/img：野菜.png)no-repeat center center / cover;
    text-align: center;
    padding: 130px 0;
    @include mq('tab') {
      padding: 50px 0;
    }
    @include mq('sp') {
      padding: 64px 0;
    }
}
.p-contact__inner{
    background: #F2F2F2;
    margin: 0 320px;
    @include mq('tab') {
      margin: 0 80px;
    }
    @include mq('sp') {
      margin: 0 16px;
    }
}
.p-contact__items{
    padding: 64px 0 72px;
    @include mq('tab') {
      padding: 30px 0 30px;
    }
    @include mq('sp') {
      padding: 64px 16px 0;
    }
}
.p-contact__lead{
    padding-top: 32px;
    letter-spacing: 0.48px;
    @include mq('sp') {
      padding-top: 48px;
    }
}
.p-contact__bottom{
}
.p-contact__bottom-wrap{
    padding: 48px 140px 0;
    @include mq('tab') {
      padding: 20px 100px 0;
    }
    @include mq('sp') {
      padding: 48px 0;
    }
}
.p-contact__bottom-title{
    text-align: left;
    font-size: 18px;
    padding-bottom: 4px;
    @include mq('tab') {
      font-size: 16px;
    }
    @include mq('sp') {
      font-size: 16px;
    }
}
.require {
    span {
        position: relative;
        padding-right: 48px;
        &:after {
            position: absolute;
            content: "必須";
            font-size: 12px;
            background: $accent-color;
            color: #fff;
            bottom: 50%;
            transform: translateY(50%);
            right: 0;
            padding: 1px 7px 3px 8px;
        }
    }
}
.p-contact__bottom-textarea{
    input {
        width: 100%;
        height: 50px;
        padding: 13px 23px;
        border: 1px solid #2F2F2F;
        margin-bottom: 32px;
        &::placeholder{
            color: #BDBDBD;
        }
        &:hover {
            border: 1px solid $accent-color;
            box-shadow: 0px 0px 4px 0px $accent-color;
        }
    }
    textarea {
        width: 100%;
        padding: 13px 23px;
        border: 1px solid #2F2F2F;
        appearance: none;
        resize: none;
        &::placeholder{
            color: #BDBDBD;
        }
        &:hover {
            border: 1px solid $accent-color;
            box-shadow: 0px 0px 4px 0px $accent-color;
        }
    }
}
.p-contact__bottom-title{
}
.p-contact__bottom-privacy{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 40px;
    @include mq('sp') {
      white-space: nowrap;
    }
    label {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.9px;
    @include mq('tab') {
      font-size: 14px;
    }
    @include mq('sp') {
      font-size: 14px;
    }
    a {
        color: $accent-color;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.9px;
        text-decoration: underline;
        @include mq('sp') {
          letter-spacing: 0.8px;
          font-size: 16px;
        }
    }
    }
}
.custom-checkbox {
    display: none;
}
.custom-label {
    position: relative;
    padding-left: 40px; /* チェックマークのスペース */
    cursor: pointer;
    @include mq('tab') {
      padding-left: 30px;
    }
}
.custom-label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #2F2F2F;
    background-color: #fff;
    @include mq('tab') {
      width: 20px;
      height: 20px;
    }
}
.custom-label:hover:before {
    border: 1px solid $accent-color;
    box-shadow: 0px 0px 4px 0px $accent-color;
}
.custom-label:before {
}

/* チェックが入った時のスタイル */
.custom-checkbox:checked + .custom-label:before {
    background: url(../img/akar-icons_check.png)no-repeat center center /contain;
    border: 1px solid #2F2F2F;
}

.p-contact__bottom-privacy input[type="checkbox"] {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
.p-contact__bottom-btn{
    padding: 15px 101px 14px;
    background: $accent-color;
    color: #fff;
    display: inline-block;
    @include mq('sp') {
      padding: 15px 131px 14px 132px;
    }
}

/*----------------------
modal
----------------------*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  overflow-y: auto;
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  background-color: #fff;
  padding: 35px 62px 0;
  p {
    padding-top: 50px;
  }
}

.close {
  color: #2F2F2F;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/*----------------------
footer
----------------------*/
.p-footer{
}
.p-footer__inner{
    padding: 56px 0 9px;
    text-align: center;
    @include mq('tab') {
      padding: 30px 0 9px;
    }
    @include mq('sp') {
      padding: 48px 0 10px;
    }
}
.p-footer__item{
    display: flex;
    justify-content: center;
    padding-bottom: 44px;
    @include mq('tab') {
      padding-bottom: 20px;
    }
    @include mq('sp') {
      padding-bottom: 41px;
    }
}
.p-footer__sns{
    margin-right: 43px;
    @include mq('tab') {
      margin-right: 20px;
    }
    @include mq('sp') {
      margin-right: 40px;
    }
    &:last-child {
        margin-right: 0;
    }
}
.fa-circle {
    width: 30px;
    height: 30px;
    font-size: 30px;
}
.fa-brands {
    font-size: 20px;
    width: auto;
    border-radius: 50%;
}
.p-footer__sns:hover .fa-circle {
  color: #ffffff !important;
  opacity: 1;

}

.p-footer__sns:hover .fa-brands {
  color: #333333 !important;
  opacity: 1;
}
.p-footer__text{
    font-size: 18px;
    letter-spacing: 0.54px;
    font-family: $font-menu;
    padding-right: 40px;
    @include mq('tab') {
      font-size: 16px;
      padding-right: 25px;
    }
    &:last-child {
        padding-right: 0;
    }
}
.p-footer__logo{
    width: 166px;
    object-fit: contain;
    margin: 0 auto;
    padding-bottom: 20px;
    @include mq('tab') {
      width: 100px;
    }
}
.p-footer__copy{
    font-size: 12px;
    letter-spacing: 0.36px;
}
/*----------------------
to-top
----------------------*/
.to-top {
  position: fixed;
  right: 18px;
  bottom: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  z-index: 100;
  width: 120px;
  height: 120px;

  @include mq("sp") {
    width: 50px;
    height: 50px;
    right: 35px;
    bottom: 18px;
  }

  @include mq('tab') {
    right: 20px;
    bottom: 10px;
    width: 60px;
    height: 60px;
  }

  &.is-show {
    opacity: 1;
    visibility: visible;
  }

  a {
    transition: all 0.3s ease 0s;

    &:hover {
      opacity: 0.7;
    }

    img {
      width: 60px;
    }
  }
}